*{
    box-sizing: border-box;
}

body{
    padding: 8px;
    margin: 15px 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: black;
    border-radius: 4px;
}

form{
    padding: 5px 20px 15px 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #e7e7e7c0;
    color: #29627e;
}

.top{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#dddddd;

    font-style: italic;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea{
    width: 30%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 8px;
}

aside {
    width: 38%;
    padding-left: 8px;
    margin-left: 50%;
    float: right;
    box-shadow: inset 5px 0px 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

input[type="submit"]{
    background-color: rgb(106, 106, 227);
    color: aliceblue;
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
    margin: 10px 70px 20px ;
}
input[type="submit"]:hover{
    
     background-color: rgb(52, 52, 182);
}